html, body, div, span, applet, object, iframe, h1, h5, h2, h6, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h5, h2, h6, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html, body { font-size: 62.5%; height: 100%; }

body { font-family: Arial, sans-serif; font-weight: normal; line-height: 1.4; background: white; }

.out { min-height: 100%; margin-bottom: -194px; }
.out:after { content: ""; display: block; height: 194px; }

.out, .footer__wrapper { min-width: 1200px; }

@font-face { font-family: FontAwesome; src: url("fonts/fontawesome-webfont.eot"); src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-regular; src: url("fonts/roboto-regular.eot"); src: url("fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-regular.woff") format("woff"), url("fonts/roboto-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-light; src: url("fonts/roboto-light.eot"); src: url("fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-light.woff") format("woff"), url("fonts/roboto-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-condensed; src: url("fonts/roboto-condensed.eot"); src: url("fonts/roboto-condensed.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-condensed.woff") format("woff"), url("fonts/roboto-condensed.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-condensed-bold; src: url("fonts/roboto-condensed-bold.eot"); src: url("fonts/roboto-condensed-bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-condensed-bold.woff") format("woff"), url("fonts/roboto-condensed-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-thin; src: url("fonts/roboto-thin.eot"); src: url("fonts/roboto-thin.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-thin.woff") format("woff"), url("fonts/roboto-thin.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-bold; src: url("fonts/roboto-bold.eot"); src: url("fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-bold.woff") format("woff"), url("fonts/roboto-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-medium; src: url("fonts/roboto-medium.eot"); src: url("fonts/roboto-medium.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-medium.woff") format("woff"), url("fonts/roboto-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@-moz-keyframes move-down { 0%, 100% { -moz-transform: translateY(0); transform: translateY(0); }
  50%, 75% { -moz-transform: translateY(3px); transform: translateY(3px); } }

@-webkit-keyframes move-down { 0%, 100% { -webkit-transform: translateY(0); transform: translateY(0); }
  50%, 75% { -webkit-transform: translateY(3px); transform: translateY(3px); } }

@-o-keyframes move-down { 0%, 100% { -o-transform: translateY(0); transform: translateY(0); }
  50%, 75% { -o-transform: translateY(3px); transform: translateY(3px); } }

@-ms-keyframes move-down { 0%, 100% { -ms-transform: translateY(0); transform: translateY(0); }
  50%, 75% { -ms-transform: translateY(3px); transform: translateY(3px); } }

@keyframes move-down { 0%, 100% { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }
  50%, 75% { -webkit-transform: translateY(3px); -moz-transform: translateY(3px); -ms-transform: translateY(3px); -o-transform: translateY(3px); transform: translateY(3px); } }

.header__in, .nav__inner, .catalog, .solutions__inner, .purpose, .safcon__inner, .footer .footer__inner, .inside__wrapper { width: 1200px; margin: 0 auto; }

h1, h5, .ttl { color: #0765b1; line-height: 1.2; font-weight: normal; font-size: 36px; font-size: 3.6rem; font-family: "roboto-condensed", Arial, sans-serif; }

h2, h6, .subttl { color: #414141; line-height: 1.2; font-size: 36px; font-size: 3.6rem; font-family: "roboto-thin", Arial, sans-serif; font-weight: normal; }

h3 { color: #212125; font-size: 20px; font-size: 2rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }

h4 { color: #2c2c2c; font-size: 15px; font-size: 1.5rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }

h5 { color: #0967b1; }

h6 { color: #3f3f3f; font-size: 21px; font-size: 2.1rem; }

ul li { position: relative; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
ul li span { padding-left: 17px; color: #2c2c2c; padding-bottom: 10px; }
ul li span:before { content: ""; position: absolute; top: 50%; left: 0; margin-top: -3.5px; width: 7px; height: 7px; background-color: #0765b1; }
ul li i { padding-right: 10px; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
ul li i:before { content: "\f14a"; }

ol { width: 200px; padding-left: 20px; counter-reset: item; }
ol li { position: relative; margin-bottom: 10px; color: white; font-size: 14px; font-size: 1.4rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
ol li:before { content: counter(item) ""; counter-increment: item; position: absolute; top: 50%; left: -25px; margin-top: -10px; width: 20px; height: 20px; background-color: #0866b1; text-align: center; }
ol li span { padding-left: 10px; display: inline-block; vertical-align: middle; line-height: 1; color: #2c2c2c; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }

.btn__buy { width: 80px; height: 30px; padding-bottom: 2px; background-color: #0765b1; color: white; font-size: 18px; font-size: 1.8rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.btn__buy:active { position: relative; top: 1px; }
.btn__buy:hover { background-color: #0873ca; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header { height: 100px; border-bottom: 1px solid #dedede; }

.header__in { height: 96px; *zoom: 1; }
.header__in:after { content: " "; display: table; clear: both; }
.header__in .logo { display: block; float: left; padding: 13px 0 0 30px; }
.header__in .logo a { display: block; }
.header__in .phone { float: left; padding: 35px 0 0 167px; line-height: 1.1; *zoom: 1; }
.header__in .phone:after { content: " "; display: table; clear: both; }
.header__in .phone.another { padding: 35px 0 0 70px; }
.header__in .phone .phone__in { float: left; padding-right: 27px; }
.header__in .phone .phone__in:last-child { padding-right: 0; }
.header__in .phone .phone__num { color: #212125; font-size: 17px; font-size: 1.7rem; font-family: "roboto-light", Arial, sans-serif; }
.header__in .phone .phone__num i { padding-right: 15px; color: #808087; font-size: 18px; font-size: 1.8rem; }
.header__in .phone .phone__desc { color: #808087; text-align: right; letter-spacing: -0.25px; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.header__in .search { float: left; padding: 37px 0 0 37px; }
.header__in .search i { padding-right: 12px; color: #818187; font-size: 18px; font-size: 1.8rem; }
.header__in .search .search__input { width: 177px; height: 30px; padding: 0 10px; color: #8b8b91; background-color: white; border: 1px solid #cdcdcd; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.header__in .sign { float: left; padding: 42px 0 0 35px; }
.header__in .sign .sign__desc { color: #212125; text-decoration: none; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.header__in .sign .sign__desc:hover { text-decoration: underline; }
.header__in .sign i { padding-right: 10px; color: #818187; font-size: 18px; font-size: 1.8rem; }

.nav { width: 100%; margin: 0 auto; position: relative; -webkit-box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.26); -moz-box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.26); box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.26); }

.nav__inner { padding: 0 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.nav__inner:after { content: " "; display: table; clear: both; }
.nav__inner .nav__li { float: left; }
.nav__inner .nav__a { display: block; text-decoration: none; color: #212125; line-height: 63px; padding: 0 15px 0 18px; font-size: 16px; font-size: 1.6rem; font-family: "roboto-condensed", Arial, sans-serif; }
.nav__inner .nav__a:hover { background-color: #0765b1; color: white; }

.slider__wrapper { height: 455px; margin-top: 1px; background: url(../img/icons/bg2.png) repeat; }

.slider { position: relative; width: 1140px; min-height: 455px; margin: 0 auto; }
.slider .cycle__inner { width: 100%; height: 455px; overflow: hidden; *zoom: 1; }
.slider .cycle__inner:after { content: " "; display: table; clear: both; }
.slider .cycle__img { float: left; }
.slider .cycle__txt { float: right; max-width: 420px; padding: 50px 45px 0 0; text-align: right; }
.slider .cycle__txt .sub { display: inline-block; margin: 40px 0 10px 0; width: 70%; color: #212125; font-size: 21px; font-size: 2.1rem; font-family: "roboto-condensed", Arial, sans-serif; }
.slider .cycle__txt .cycle__desc { margin-bottom: 20px; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.slider .cycle__txt .cycle__but { width: 125px; height: 42px; color: white; background: url(../img/icons/but_light.png) top center no-repeat; background-color: #0765b1; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.64), inset 0 1px 0 rgba(255, 255, 255, 0.8); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.64), inset 0 1px 0 rgba(255, 255, 255, 0.8); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.64), inset 0 1px 0 rgba(255, 255, 255, 0.8); font-size: 16px; font-size: 1.6rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.slider .cycle__txt .cycle__but:active { top: 1px; position: relative; }
.slider .cycle__txt .cycle__but:hover { background-color: #0873ca; }
.slider .cycle__prev { position: absolute; top: 50%; left: -25px; margin-top: -41px; cursor: pointer; background: url('../img/icons-sf34c12a3fb.png') 0 -4859px no-repeat; width: 27px; height: 82px; }
.slider .cycle__prev:hover { background: url('../img/icons-sf34c12a3fb.png') 0 -4951px no-repeat; width: 27px; height: 82px; }
.slider .cycle__next { position: absolute; top: 50%; right: -25px; margin-top: -41px; cursor: pointer; background: url('../img/icons-sf34c12a3fb.png') 0 -5063px no-repeat; width: 27px; height: 82px; }
.slider .cycle__next:hover { background: url('../img/icons-sf34c12a3fb.png') 0 -4767px no-repeat; width: 27px; height: 82px; }
.slider .cycle__pager { position: absolute; left: 50%; bottom: 22px; margin-left: -200px; z-index: 100; }
.slider .cycle__pager span { display: inline-block; width: 15px; height: 15px; margin-right: 10px; text-indent: -1000px; background-color: #c9c7cb; overflow: hidden; cursor: pointer; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 0 1px 0 white, inset 0 1px 0 rgba(0, 0, 0, 0.48); -moz-box-shadow: 0 1px 0 white, inset 0 1px 0 rgba(0, 0, 0, 0.48); box-shadow: 0 1px 0 white, inset 0 1px 0 rgba(0, 0, 0, 0.48); }
.slider .cycle__pager .cycle-pager-active { background-color: #0967b1; vertical-align: 1px; -webkit-box-shadow: 0 1px 0 rgba(72, 72, 72, 0.53), inset 0 1px 0 white; -moz-box-shadow: 0 1px 0 rgba(72, 72, 72, 0.53), inset 0 1px 0 white; box-shadow: 0 1px 0 rgba(72, 72, 72, 0.53), inset 0 1px 0 white; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.27)), color-stop(100%, rgba(255, 255, 255, 0.27))); background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%); background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%); background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%); background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.27) 0%, rgba(255, 255, 255, 0.27) 100%); }

.catalog__wrapper { width: 100%; margin: 0 auto; position: relative; padding: 20px 0 28px 0; -webkit-box-shadow: 0 -10px 15px -10px rgba(0, 0, 0, 0.26); -moz-box-shadow: 0 -10px 15px -10px rgba(0, 0, 0, 0.26); box-shadow: 0 -10px 15px -10px rgba(0, 0, 0, 0.26); }

.catalog .catalog__row { padding-bottom: 20px; *zoom: 1; }
.catalog .catalog__row:after { content: " "; display: table; clear: both; }
.catalog .catalog__row.last { padding-bottom: 0; }
.catalog .catalog__item { float: left; width: 224px; height: 245px; margin-right: 20px; text-align: center; -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.16); -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.16); box-shadow: 0 0 7px rgba(0, 0, 0, 0.16); }
.catalog .catalog__item.last { margin-right: 0; }
.catalog .catalog__item:hover { -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
.catalog .catalog__item:hover .catalog__txt { text-decoration: underline; }
.catalog .catalog__link { display: block; height: inherit; text-decoration: none; }
.catalog .catalog__img { height: 180px; display: inline-block; vertical-align: middle; text-align: center; font-size: 0; }
.catalog .catalog__img:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.catalog .catalog__img img, .catalog .catalog__img p { display: inline-block; vertical-align: middle; }
.catalog .catalog__img .sale { color: #5f5f61; font-size: 90px; font-size: 9rem; font-family: "roboto-thin", Arial, sans-serif; font-weight: normal; }
.catalog .catalog__txt { color: #0966b1; font-size: 18px; font-size: 1.8rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }

.solutions__wrapper { background: url(../img/icons/bg.png) repeat; }

.solutions { width: 100%; margin: 0 auto; position: relative; padding: 20px 0 28px 0; -webkit-box-shadow: 0 9px 12px -11px rgba(0, 0, 0, 0.26) inset; -moz-box-shadow: 0 9px 12px -11px rgba(0, 0, 0, 0.26) inset; box-shadow: 0 9px 12px -11px rgba(0, 0, 0, 0.26) inset; }

.solutions__inner { min-height: 360px; border-bottom: 1px dashed #878787; *zoom: 1; }
.solutions__inner:after { content: " "; display: table; clear: both; }
.solutions__inner.last { min-height: 350px; border: 0; }
.solutions__inner .solutions__block { float: left; }
.solutions__inner .solutions__block.analog { padding: 77px 0 0 104px; }
.solutions__inner .solutions__block.digital { padding: 59px 0 0 20px; }
.solutions__inner .solutions__analog { background: url('../img/icons-sf34c12a3fb.png') 0 -252px no-repeat; width: 244px; height: 252px; }
.solutions__inner .solutions__digital { background: url('../img/icons-sf34c12a3fb.png') 0 -734px no-repeat; width: 250px; height: 260px; }
.solutions__inner .solutions__decide { padding: 52px 0 0 65px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.solutions__inner .solutions__decide.another { padding: 27px 0 0 50px; }
.solutions__inner .solutions__table { margin: 53px 0 0 5px; }
.solutions__inner .solutions__td { width: 260px; padding-bottom: 20px; }
.solutions__inner .solutions__a { display: inherit; text-decoration: none; color: #212125; font-size: 18px; font-size: 1.8rem; font-family: "roboto-light", Arial, sans-serif; }
.solutions__inner .solutions__a:hover { text-decoration: underline; }
.solutions__inner .solutions__num { display: inline-block; width: 48px; height: 48px; margin-right: 10px; text-align: center; vertical-align: middle; background-color: #212125; color: white; font-family: "roboto-bold", Arial, sans-serif; font-size: 30px; font-size: 3rem; -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.solutions__inner .solutions__num.blue { background-color: #0967b1; }
.solutions__inner .solutions__b { font-family: "roboto-condensed-bold", Arial, sans-serif; }

.purpose__wrapper { position: relative; padding: 15px 0; width: 100%; margin: 0 auto; -webkit-box-shadow: 0 -10px 15px -10px rgba(0, 0, 0, 0.26); -moz-box-shadow: 0 -10px 15px -10px rgba(0, 0, 0, 0.26); box-shadow: 0 -10px 15px -10px rgba(0, 0, 0, 0.26); }

.purpose { *zoom: 1; }
.purpose:after { content: " "; display: table; clear: both; }
.purpose .purpose__item { float: left; width: 175px; height: 150px; margin: 12px; text-align: center; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.54), inset 0 1px 0 rgba(255, 255, 255, 0.8); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.54), inset 0 1px 0 rgba(255, 255, 255, 0.8); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.54), inset 0 1px 0 rgba(255, 255, 255, 0.8); }
.purpose .purpose__item.home, .purpose .purpose__item.garden { background: url(../img/icons/purpose1.png) top center no-repeat; background-color: #0965b1; }
.purpose .purpose__item.flat, .purpose .purpose__item.school { background: url(../img/icons/purpose2.png) top center no-repeat; background-color: #0965b1; }
.purpose .purpose__item.parking, .purpose .purpose__item.apartment { background: url(../img/icons/purpose3.png) top center no-repeat; background-color: #0965b1; }
.purpose .purpose__item.office, .purpose .purpose__item.gas { background: url(../img/icons/purpose4.png) top center no-repeat; background-color: #0965b1; }
.purpose .purpose__item.cash, .purpose .purpose__item.build { background: url(../img/icons/purpose5.png) top center no-repeat; background-color: #0965b1; }
.purpose .purpose__item.box, .purpose .purpose__item.complex { background: url(../img/icons/purpose6.png) top center no-repeat; background-color: #0965b1; }
.purpose .purpose__item:hover { background-color: #0a73c9; }
.purpose .purpose__link { display: block; height: inherit; text-decoration: none; }
.purpose .purpose__img { height: 107px; display: inline-block; vertical-align: middle; text-align: center; font-size: 0; }
.purpose .purpose__img:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.purpose .purpose__img img, .purpose .purpose__img p { display: inline-block; vertical-align: middle; }
.purpose .purpose__img .home { margin-top: 15px; }
.purpose .purpose__img .flat { margin: 15px 0 0 20px; }
.purpose .purpose__img .parking { margin: 20px 28px 0 0; }
.purpose .purpose__img .office { margin: 23px 10px 0 0; }
.purpose .purpose__img .cash { margin-top: 15px; }
.purpose .purpose__img .box { margin-top: 20px; }
.purpose .purpose__img .garden, .purpose .purpose__img .school, .purpose .purpose__img .apartment { margin-top: 20px; }
.purpose .purpose__img .gas { margin: 25px 0 0 10px; }
.purpose .purpose__img .build { margin: 5px 0 0 10px; }
.purpose .purpose__img .complex { margin-top: 5px; }
.purpose .purpose__txt { color: white; line-height: 1.2; font-size: 18px; font-size: 1.8rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.purpose .purpose__txt.line { padding-top: 10px; }

.safcon__wrapper { background: url(../img/icons/bg.png) repeat; min-height: 470px; }

.safcon { position: relative; width: 100%; margin: 0 auto; -webkit-box-shadow: 0 9px 12px -11px rgba(0, 0, 0, 0.26) inset; -moz-box-shadow: 0 9px 12px -11px rgba(0, 0, 0, 0.26) inset; box-shadow: 0 9px 12px -11px rgba(0, 0, 0, 0.26) inset; }

.safcon__inner { padding-top: 60px; *zoom: 1; }
.safcon__inner:after { content: " "; display: table; clear: both; }
.safcon__inner .safcon__block { float: left; }
.safcon__inner .safcon__block.withtxt { width: 750px; padding-left: 30px; }
.safcon__inner .safcon__bl { padding-left: 30px; }
.safcon__inner h2, .safcon__inner h6 { padding-bottom: 26px; font-size: 21px; font-size: 2.1rem; }
.safcon__inner h6 { padding-bottom: 20px; }
.safcon__inner img { margin: 74px 0 0 38px; }
.safcon__inner .safcon__txt { margin-bottom: 15px; color: #2c2c2c; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.safcon__inner ul { margin: 0 0 13px 12px; }

.footer { background: url(../img/icons/bg3.png) repeat; height: 112px; }
.footer.another { height: 82px; background: #1a1a1a; }
.footer .footer__inner { *zoom: 1; }
.footer .footer__inner:after { content: " "; display: table; clear: both; }
.footer .footer__block { float: left; }
.footer .footer__block.right { float: right; }
.footer .footer__download { display: block; padding: 33px 0 0 30px; color: #d9d9d9; text-decoration: none; font-size: 36px; font-size: 3.6rem; font-family: "roboto-thin", Arial, sans-serif; font-weight: normal; }
.footer .footer__download i { color: white; margin-right: 25px; }
.footer .footer__download:hover { text-decoration: underline; }
.footer .footer__download:hover i { -webkit-animation: move-down 0.5s linear infinite; -moz-animation: move-down 0.5s linear infinite; -o-animation: move-down 0.5s linear infinite; animation: move-down 0.5s linear infinite; }
.footer .footer__menu { padding-top: 37px; *zoom: 1; }
.footer .footer__menu:after { content: " "; display: table; clear: both; }
.footer .menu__item { float: left; }
.footer .menu__item:first-child a { padding: 0 58px 0 73px; }
.footer .menu__item.last a { padding: 0 47px 0 73px; border: 0; }
.footer .menu__item a { display: block; padding: 0 90px 0 54px; color: #d9d9d9; text-decoration: none; line-height: 47px; border-right: 1px solid #4f4f4f; font-size: 18px; font-size: 1.8rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.footer .menu__item a:hover { text-decoration: underline; }
.footer .phone { float: left; padding: 30px 0 0 35px; line-height: 1.1; *zoom: 1; }
.footer .phone:after { content: " "; display: table; clear: both; }
.footer .phone .phone__in { float: left; padding-right: 27px; }
.footer .phone .phone__in:last-child { padding-right: 0; }
.footer .phone .phone__num { color: #d9d9d9; font-size: 17px; font-size: 1.7rem; font-family: "roboto-light", Arial, sans-serif; }
.footer .phone .phone__num i { padding-right: 15px; color: #d9d9d9; font-size: 18px; font-size: 1.8rem; }
.footer .phone .phone__desc { color: #d9d9d9; text-align: right; letter-spacing: -0.25px; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.footer .copyright { float: right; padding: 30px 35px 0 0; }
.footer .copyright .copyright__txt { text-align: right; color: #d9d9d9; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.footer .copyright .copyright__txt a { color: #0866b1; text-decoration: none; }
.footer .copyright .copyright__txt a:hover { text-decoration: underline; }

.cart { position: relative; display: block; float: right; width: 125px; height: 100px; background-color: #0765b1; color: white; text-align: center; text-align: center; font-size: 0; }
.cart:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.cart:hover { background-color: #0873ca; }
.cart .cart__center, .cart .cart__in { display: inline-block; vertical-align: middle; }
.cart .cart__ttl { font-size: 17px; font-size: 1.7rem; font-family: "roboto-light", Arial, sans-serif; }
.cart .cart__txt { font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.cart i { padding-right: 10px; vertical-align: middle; font-size: 18px; font-size: 1.8rem; }

.inside__wrapper { margin-top: 30px; padding-left: 15px; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.inside__wrapper:after { content: " "; display: table; clear: both; }

.sidenav { float: left; width: 200px; margin: 0 35px 50px 0; }
.sidenav .sidenav__a { display: block; padding: 5px 0 5px 15px; text-decoration: none; color: #0965b1; border-bottom: 1px dotted #c4c4c4; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.sidenav .sidenav__a.last { border: 0; }
.sidenav .sidenav__a:hover { background-color: #0765b1; color: white; }

.content { float: left; width: 950px; }
.content.shop h1, .content.shop h5 { color: #212125; line-height: 1.3; }
.content.shop .breadcrumbs { border: 0; margin-bottom: 0; padding-bottom: 0; }
.content.shop .content__inside { padding-right: 30px; }
.content.contact .breadcrumbs { margin-bottom: 0; }
.content .breadcrumbs { margin-bottom: 15px; padding-bottom: 25px; border-bottom: 1px dotted #c4c4c4; }
.content .breadcrumbs ul { margin-top: 0; *zoom: 1; }
.content .breadcrumbs ul:after { content: " "; display: table; clear: both; }
.content .breadcrumbs li { float: left; }
.content .breadcrumbs li:before { content: "/"; padding-right: 5px; text-decoration: none; }
.content .breadcrumbs li:first-child:before { content: " "; padding: 1px; }
.content .breadcrumbs li:first-child a { color: #0866b1; }
.content .breadcrumbs a { padding-right: 5px; text-decoration: none; color: #212125; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.content .breadcrumbs a.is-active { color: #0866b1; }
.content .breadcrumbs a:hover { text-decoration: underline; }
.content section { border-top: 1px dotted #c4c4c4; padding-top: 34px; margin-bottom: 40px; *zoom: 1; }
.content section:after { content: " "; display: table; clear: both; }
.content section .content__inside { padding: 0 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.content section .content__inside div { float: left; margin-left: 50px; }
.content section .content__inside div:first-child { margin-left: 0; }
.content section .content__inside h6 { margin-bottom: 20px; }
.content blockquote { padding: 30px; margin-bottom: 70px; background: url(../img/icons/bg.png) repeat; border-top: 1px dotted #c4c4c4; border-bottom: 1px dotted #c4c4c4; }
.content blockquote p { margin-bottom: 13px; color: #2c2c2c; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }

.content__inside h2, .content__inside h6 { margin-bottom: 32px; }
.content__inside p { margin-bottom: 13px; color: #2c2c2c; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.content__inside p span { color: #0765b1; }
.content__inside h3 { margin: 27px 0 20px 0; }
.content__inside table { margin-bottom: 65px; border-collapse: collapse; }
.content__inside table tr:nth-child(odd) { background: white; }
.content__inside table tr:nth-child(even) { background-color: whitesmoke; }
.content__inside table td { padding: 15px 0 15px 25px; border: 1px solid #dddddd; color: #2c2c2c; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.content__inside table td:first-child { width: 464px; }
.content__inside article { padding-bottom: 45px; *zoom: 1; }
.content__inside article:after { content: " "; display: table; clear: both; }
.content__inside article p { width: 530px; }
.content__inside article img { float: right; margin-right: 15px; }

.shop__block { display: inline-block; vertical-align: middle; }

.show { margin-left: 190px; color: #818187; line-height: 1.3; }
.show .show__p { font-size: 18px; font-size: 1.8rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.show .show__num { padding: 0 5px; color: #0765b1; text-decoration: none; font-family: "roboto-light", Arial, sans-serif; }
.show .show__num.is-active { color: #818187; }
.show .show__num.is-active:hover { color: #818187; text-decoration: none; }
.show .show__num:hover { color: #032d4f; text-decoration: underline; }
.show.pages { margin-left: 70px; }

.pagination { margin: 10px 0 40px 0; text-align: right; }
.pagination .pages { margin-right: 30px; }

.shop__inner { text-align: justify; margin-top: 25px; }
.shop__inner:after { content: ""; width: 100%; display: inline-block; }
.shop__inner .shop__item { display: inline-block; width: 217px; height: 490px; margin-bottom: 20px; overflow: hidden; vertical-align: top; -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.16); -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.16); box-shadow: 0 0 7px rgba(0, 0, 0, 0.16); }
.shop__inner .shop__img { display: inline-block; width: 100%; height: 215px; text-align: center; font-size: 0; }
.shop__inner .shop__img:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.shop__inner .shop__img img { display: inline-block; vertical-align: middle; }
.shop__inner .shop__img .shop1 { margin-left: 5px; }
.shop__inner .shop__desc { padding: 0 5px; }
.shop__inner .shop__ttl { text-align: center; color: #0965b1; margin-bottom: 15px; font-size: 18px; font-size: 1.8rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.shop__inner .shop__buy { width: 95%; margin: 0 auto; padding-bottom: 10px; text-align: center; border-bottom: 1px dotted #c4c4c4; }
.shop__inner .shop__price { color: #212125; vertical-align: middle; font-size: 18px; font-size: 1.8rem; font-family: "roboto-thin", Arial, sans-serif; font-weight: normal; }
.shop__inner .shop__blue { text-decoration: none; color: #0866b1; }
.shop__inner .shop__blue:hover { text-decoration: underline; }
.shop__inner .btn__buy { display: inline-block; margin-left: 10px; vertical-align: middle; *zoom: 1; }
.shop__inner .btn__buy:after { content: " "; display: table; clear: both; }
.shop__inner .shop__or { margin-top: 10px; text-align: center; color: #2c2c2c; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.shop__inner .shop__txt { margin: 10px 0 0 6px; text-align: left; color: #2c2c2c; line-height: 1.2; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }

.float__parent { *zoom: 1; }
.float__parent:after { content: " "; display: table; clear: both; }
.float__parent .breadcrumbs { float: left; }
.float__parent .backto { float: right; }
.float__parent .backto a { text-decoration: none; color: #0765b1; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.float__parent .backto a:hover { text-decoration: underline; }
.float__parent .backto a i { padding-right: 3px; }

.item__wrap { margin-top: 25px; padding-top: 15px; border-top: 1px dotted #c4c4c4; *zoom: 1; }
.item__wrap:after { content: " "; display: table; clear: both; }
.item__wrap .item { float: left; width: 440px; margin-right: 35px; }
.item__wrap .item h1, .item__wrap .item h5 { color: #0765b1; line-height: 1.2; }
.item__wrap .item h2, .item__wrap .item h6 { margin-bottom: 18px; }
.item__wrap .item__specs { float: right; width: 445px; }
.item__wrap .item__specs h3 { margin: 0; padding-left: 15px; }
.item__wrap .item__table { margin-top: 15px; }
.item__wrap .item__table td { border: 0; padding: 4px 0 5px 15px; }
.item__wrap .item__table td:first-child { width: 63%; }
.item__wrap .item__table .onright { text-align: right; padding-right: 15px; }
.item__wrap .item__buy { *zoom: 1; }
.item__wrap .item__buy:after { content: " "; display: table; clear: both; }
.item__wrap .item__left { float: left; }
.item__wrap .item__left p { margin-bottom: 0; }
.item__wrap .item__left .item__price { color: #212125; line-height: 1; margin-bottom: 3px; font-size: 28px; font-size: 2.8rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.item__wrap .item__left .item__tax { color: #818187; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.item__wrap .item__right { float: right; width: 265px; padding-top: 10px; }
.item__wrap .item__right .btn__buy { display: inline-block; margin-right: 10px; }
.item__wrap .item__right .shop__or { display: inline-block; width: 110px; vertical-align: middle; line-height: 1; }
.item__wrap .item__right .shop__blue { text-decoration: none; color: #0866b1; }
.item__wrap .item__right .shop__blue:hover { text-decoration: underline; }

.item__desc { margin-bottom: 75px; border-top: 1px dotted #c4c4c4; }

.item__slider { margin-top: 60px; }
.item__slider .slider { width: 400px; }
.item__slider .gallery__top { position: relative; }
.item__slider .gallery__top .slide { width: 100%; }
.item__slider .gallery__top .slide img { width: 90%; margin: 0 auto; max-width: 325px; display: block; }
.item__slider .gallery__top .item__prev { position: absolute; top: 50%; left: -10px; margin-top: -30.5px; z-index: 1000; background: url('../img/icons-sf34c12a3fb.png') 0 -5475px no-repeat; width: 21px; height: 61px; }
.item__slider .gallery__top .item__prev:hover { background: url('../img/icons-sf34c12a3fb.png') 0 -5202px no-repeat; width: 21px; height: 61px; }
.item__slider .gallery__top .item__next { position: absolute; top: 50%; right: -10px; margin-top: -30.5px; z-index: 1000; background: url('../img/icons-sf34c12a3fb.png') 0 -5546px no-repeat; width: 21px; height: 61px; }
.item__slider .gallery__top .item__next:hover { background: url('../img/icons-sf34c12a3fb.png') 0 -5404px no-repeat; width: 21px; height: 61px; }
.item__slider .gallery__bottom { margin-top: 80px; }
.item__slider .gallery__bottom .gallery__pager { width: 360px; margin: 0 auto; }
.item__slider .gallery__bottom .slide img { display: block; width: 100px; height: 68px; margin: 0 auto; cursor: pointer; }

.contacts__wrap { height: 100%; display: table; }

.contacts__left { display: table-cell; width: 520px; padding-top: 15px; }
.contacts__left .contacts__map { margin-top: 30px; border-bottom: 1px dotted #c4c4c4; }
.contacts__left .contacts__map:first-child { margin-top: 50px; }
.contacts__left .contacts__map.last { border: 0; margin-bottom: 25px; }
.contacts__left .address { color: #212125; font-size: 20px; font-size: 2rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.contacts__left .yandex__map { margin-top: 25px; }
.contacts__left .hall { margin: 30px 0; }
.contacts__left .hall.another { margin: 30px 0 40px 0; }
.contacts__left .hall.another .hall__list { margin-left: 55px; }
.contacts__left .hall__list, .contacts__left .hall__txt { display: inline-block; vertical-align: top; }
.contacts__left .hall__list { width: auto; min-width: 50%; margin-left: 85px; }
.contacts__left .hall__txt { display: inline-block; vertical-align: top; color: #212125; font-size: 18px; font-size: 1.8rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.contacts__left .hall__num { color: #212125; font-size: 18px; font-size: 1.8rem; font-family: "roboto-light", Arial, sans-serif; }
.contacts__left .tel { padding-left: 30px; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.contacts__left .tel__num { font-size: 13px; font-size: 1.3rem; font-family: "roboto-bold", Arial, sans-serif; }

.contacts__right { display: table-cell; width: 430px; vertical-align: top; background-color: #f9f9f9; }
.contacts__right .call__block { border-bottom: 1px dotted #c4c4c4; }
.contacts__right .call__block.last { border: 0; }
.contacts__right .callto { margin: 30px 0 30px 30px; }
.contacts__right .callto.another { margin: 30px 0 30px 30px; }
.contacts__right .callto.another .callto__list { margin-left: 30px; }
.contacts__right .callto__list, .contacts__right .callto__txt { display: inline-block; vertical-align: top; }
.contacts__right .callto__list { width: auto; min-width: 50%; margin-left: 95px; }
.contacts__right .callto__txt { display: inline-block; vertical-align: top; color: #212125; font-size: 18px; font-size: 1.8rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.contacts__right .callto__num { color: #212125; font-size: 18px; font-size: 1.8rem; font-family: "roboto-light", Arial, sans-serif; }
.contacts__right .callto__num.withpad { padding-bottom: 20px; }
.contacts__right .callto__num .callto__link { color: #0765b1; text-decoration: none; }
.contacts__right .callto__num .callto__link:hover { text-decoration: underline; }
.contacts__right .callto__p { color: #808087; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.contacts__right .people { width: 275px; margin: 25px 0; color: #212125; text-align: right; font-size: 15px; font-size: 1.5rem; font-family: "roboto-medium", Arial, sans-serif; }
.contacts__right .people td:first-child { text-align: left; }
.contacts__right .worktime { padding-bottom: 16px; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.contacts__right .people__mail { color: #0765b1; text-decoration: none; font-size: 15px; font-size: 1.5rem; font-family: "roboto-regular", Arial, sans-serif; font-weight: normal; }
.contacts__right .people__mail:hover { text-decoration: underline; }
.contacts__right .people__call { display: inline-block; padding-left: 65px; }
.contacts__right .people__call.another { padding-left: 52px; }
.contacts__right .people__call.more { padding-left: 62px; }

.lteie8 .shop__item { border: 1px solid #dedede; }
