html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html, body { font-size: 62.5%; }

body { font-family: Arial, sans-serif; font-weight: normal; line-height: 1.4; background: white; }

@font-face { font-family: FontAwesome; src: url("fonts/fontawesome-webfont.eot"); src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-regular; src: url("fonts/roboto-regular.eot"); src: url("fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-regular.woff") format("woff"), url("fonts/roboto-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-light; src: url("fonts/roboto-light.eot"); src: url("fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-light.woff") format("woff"), url("fonts/roboto-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-condensed; src: url("fonts/roboto-condensed.eot"); src: url("fonts/roboto-condensed.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-condensed.woff") format("woff"), url("fonts/roboto-condensed.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-condensed-bold; src: url("fonts/roboto-condensed-bold.eot"); src: url("fonts/roboto-condensed-bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-condensed-bold.woff") format("woff"), url("fonts/roboto-condensed-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-thin; src: url("fonts/roboto-thin.eot"); src: url("fonts/roboto-thin.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-thin.woff") format("woff"), url("fonts/roboto-thin.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-bold; src: url("fonts/roboto-bold.eot"); src: url("fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-bold.woff") format("woff"), url("fonts/roboto-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

h1, .ttl { color: #0765b1; line-height: 1.2; font-size: 36px; font-size: 3.6rem; font-family: "roboto-condensed", Arial, sans-serif; }

h2, .subttl { color: #414141; line-height: 1.2; font-size: 36px; font-size: 3.6rem; font-family: "roboto-thin", Arial, sans-serif; }

.header__in, .nav__inner, .catalog, .solutions__inner, .purpose, .safcon__inner, .footer .footer__inner { width: 1200px; margin: 0 auto; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header { height: 100px; border-bottom: 1px solid #dedede; }

.header__in { height: 96px; *zoom: 1; }
.header__in:after { content: " "; display: table; clear: both; }
.header__in .logo { display: block; float: left; padding: 13px 0 0 30px; }
.header__in .logo a { display: block; }
.header__in .phone { float: left; padding: 35px 0 0 167px; line-height: 1.1; *zoom: 1; }
.header__in .phone:after { content: " "; display: table; clear: both; }
.header__in .phone .phone__in { float: left; padding-right: 27px; }
.header__in .phone .phone__in:last-child { padding-right: 0; }
.header__in .phone .phone__num { color: #212125; font-size: 17px; font-size: 1.7rem; font-family: "roboto-light", Arial, sans-serif; }
.header__in .phone .phone__num i { padding-right: 15px; color: #808087; font-size: 18px; font-size: 1.8rem; }
.header__in .phone .phone__desc { color: #808087; text-align: right; letter-spacing: -0.25px; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; }
.header__in .search { float: left; padding: 37px 0 0 37px; }
.header__in .search i { padding-right: 12px; color: #818187; font-size: 18px; font-size: 1.8rem; }
.header__in .search .search__input { width: 177px; height: 30px; padding: 0 10px; color: #8b8b91; background-color: white; border: 1px solid #cdcdcd; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.header__in .sign { float: left; padding: 42px 0 0 35px; }
.header__in .sign .sign__desc { color: #212125; text-decoration: none; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; }
.header__in .sign .sign__desc:hover { text-decoration: underline; }
.header__in .sign i { padding-right: 12px; color: #818187; font-size: 18px; font-size: 1.8rem; }

.nav { width: 100%; background: url(../img/icons/shadow.png) center 63px no-repeat; }

.nav__inner { height: 65px; padding: 0 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.nav__inner:after { content: " "; display: table; clear: both; }
.nav__inner .nav__li { float: left; }
.nav__inner .nav__li.last .nav__a { padding-right: 0; }
.nav__inner .nav__a { text-decoration: none; color: #212125; line-height: 60px; padding-right: 33.6px; font-size: 16px; font-size: 1.6rem; font-family: "roboto-condensed", Arial, sans-serif; }
.nav__inner .nav__a:hover { text-decoration: underline; }

.slider__wrapper { height: 455px; background: url(../img/icons/bg2.png) repeat; }

.slider { position: relative; width: 1140px; min-height: 455px; margin: 0 auto; }
.slider .cycle__inner { width: 100%; height: 455px; overflow: hidden; *zoom: 1; }
.slider .cycle__inner:after { content: " "; display: table; clear: both; }
.slider .cycle__img { float: left; }
.slider .cycle__img .video { margin: 40px 0 0 20px; }
.slider .cycle__txt { float: right; max-width: 420px; padding: 50px 45px 0 0; text-align: right; }
.slider .cycle__txt .sub { display: inline-block; margin: 40px 0 10px 0; width: 70%; color: #212125; font-size: 21px; font-size: 2.1rem; font-family: "roboto-condensed", Arial, sans-serif; }
.slider .cycle__txt .cycle__desc { margin-bottom: 20px; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; }
.slider .cycle__txt .cycle__but { width: 125px; height: 42px; color: white; background: url(../img/icons/but_light.png) top center no-repeat; background-color: #0765b1; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.64), inset 0 1px 0 rgba(255, 255, 255, 0.8); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.64), inset 0 1px 0 rgba(255, 255, 255, 0.8); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.64), inset 0 1px 0 rgba(255, 255, 255, 0.8); font-size: 16px; font-size: 1.6rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.slider .cycle__txt .cycle__but:active { top: 1px; position: relative; }
.slider .cycle__prev { position: absolute; top: 50%; left: -25px; margin-top: -41px; cursor: pointer; background: url('../img/icons-sf8ada7957e.png') 0 -5128px no-repeat; width: 27px; height: 82px; }
.slider .cycle__prev:active { background: url('../img/icons-sf8ada7957e.png') 0 -5220px no-repeat; width: 27px; height: 82px; }
.slider .cycle__next { position: absolute; top: 50%; right: -25px; margin-top: -41px; cursor: pointer; background: url('../img/icons-sf8ada7957e.png') 0 -5332px no-repeat; width: 27px; height: 82px; }
.slider .cycle__next:active { background: url('../img/icons-sf8ada7957e.png') 0 -5036px no-repeat; width: 27px; height: 82px; }

.catalog__wrapper { background: url(../img/icons/shadow.png) center top no-repeat; padding: 20px 0 28px 0; }

.catalog .catalog__row { padding-bottom: 20px; *zoom: 1; }
.catalog .catalog__row:after { content: " "; display: table; clear: both; }
.catalog .catalog__row.last { padding-bottom: 0; }
.catalog .catalog__item { float: left; width: 224px; height: 245px; margin-right: 20px; text-align: center; -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.16); -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.16); box-shadow: 0 0 7px rgba(0, 0, 0, 0.16); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.catalog .catalog__item.last { margin-right: 0; }
.catalog .catalog__link { display: block; height: inherit; text-decoration: none; }
.catalog .catalog__img { height: 180px; display: inline-block; vertical-align: middle; text-align: center; font-size: 0; }
.catalog .catalog__img:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.catalog .catalog__img img, .catalog .catalog__img p { display: inline-block; vertical-align: middle; }
.catalog .catalog__img .sale { color: #5f5f61; font-size: 90px; font-size: 9rem; font-family: "roboto-thin", Arial, sans-serif; }
.catalog .catalog__txt { color: #0966b1; font-size: 18px; font-size: 1.8rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }

.solutions__wrapper { background: url(../img/icons/bg.png) repeat; }

.solutions { background: url(../img/icons/shadow.png) center top no-repeat; }

.solutions__inner { min-height: 360px; border-bottom: 1px dashed #878787; *zoom: 1; }
.solutions__inner:after { content: " "; display: table; clear: both; }
.solutions__inner.last { min-height: 350px; border: 0; }
.solutions__inner .solutions__block { float: left; }
.solutions__inner .solutions__block.analog { padding: 77px 0 0 104px; }
.solutions__inner .solutions__block.digital { padding: 59px 0 0 20px; }
.solutions__inner .solutions__analog { background: url('../img/icons-sf8ada7957e.png') 0 -680px no-repeat; width: 244px; height: 252px; }
.solutions__inner .solutions__digital { background: url('../img/icons-sf8ada7957e.png') 0 -942px no-repeat; width: 250px; height: 260px; }
.solutions__inner .solutions__decide { padding: 52px 0 0 65px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.solutions__inner .solutions__decide.another { padding: 27px 0 0 50px; }
.solutions__inner .solutions__table { margin: 53px 0 0 5px; }
.solutions__inner .solutions__td { width: 260px; padding-bottom: 20px; color: #212125; font-size: 18px; font-size: 1.8rem; font-family: "roboto-light", Arial, sans-serif; }
.solutions__inner .solutions__num { display: inline-block; width: 48px; height: 48px; margin-right: 10px; text-align: center; vertical-align: middle; background-color: #212125; color: white; font-family: "roboto-bold", Arial, sans-serif; font-size: 30px; font-size: 3rem; -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.solutions__inner .solutions__num.blue { background-color: #0967b1; }
.solutions__inner .solutions__b { font-family: "roboto-condensed-bold", Arial, sans-serif; }

.purpose__wrapper { background: url(../img/icons/shadow.png) center top no-repeat; padding: 15px 0; }

.purpose .purpose__row { padding-bottom: 20px; *zoom: 1; }
.purpose .purpose__row:after { content: " "; display: table; clear: both; }
.purpose .purpose__row.last { padding-bottom: 0; }
.purpose .purpose__item { float: left; margin-right: 20px; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.purpose .purpose__item.home, .purpose .purpose__item.garden { background: url('../img/icons-sf8ada7957e.png') 0 -4867px no-repeat; width: 182px; height: 159px; }
.purpose .purpose__item.flat, .purpose .purpose__item.school { background: url('../img/icons-sf8ada7957e.png') 0 -4191px no-repeat; width: 183px; height: 159px; }
.purpose .purpose__item.parking, .purpose .purpose__item.apartment { background: url('../img/icons-sf8ada7957e.png') 0 -4360px no-repeat; width: 184px; height: 159px; }
.purpose .purpose__item.office, .purpose .purpose__item.gas { background: url('../img/icons-sf8ada7957e.png') 0 -4529px no-repeat; width: 184px; height: 159px; }
.purpose .purpose__item.cash, .purpose .purpose__item.build { background: url('../img/icons-sf8ada7957e.png') 0 -4022px no-repeat; width: 184px; height: 159px; }
.purpose .purpose__item.box, .purpose .purpose__item.complex { background: url('../img/icons-sf8ada7957e.png') 0 -4698px no-repeat; width: 183px; height: 159px; }
.purpose .purpose__item.last { margin-right: 0; }
.purpose .purpose__link { display: block; height: inherit; text-decoration: none; }
.purpose .purpose__img { height: 107px; display: inline-block; vertical-align: middle; text-align: center; font-size: 0; }
.purpose .purpose__img:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.purpose .purpose__img img, .purpose .purpose__img p { display: inline-block; vertical-align: middle; }
.purpose .purpose__img .home { margin-top: 15px; }
.purpose .purpose__img .flat { margin: 15px 0 0 20px; }
.purpose .purpose__img .parking { margin: 20px 28px 0 0; }
.purpose .purpose__img .office { margin: 23px 10px 0 0; }
.purpose .purpose__img .cash { margin-top: 15px; }
.purpose .purpose__img .box { margin-top: 20px; }
.purpose .purpose__img .garden, .purpose .purpose__img .school, .purpose .purpose__img .apartment { margin-top: 20px; }
.purpose .purpose__img .gas { margin: 25px 0 0 10px; }
.purpose .purpose__img .build { margin: 5px 0 0 10px; }
.purpose .purpose__img .complex { margin-top: 5px; }
.purpose .purpose__txt { color: white; line-height: 1.2; font-size: 18px; font-size: 1.8rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.purpose .purpose__txt.line { padding-top: 10px; }

.safcon__wrapper { background: url(../img/icons/bg.png) repeat; min-height: 470px; }

.safcon { background: url(../img/icons/shadow.png) center top no-repeat; }

.safcon__inner { padding: 60px 0 0 55px; *zoom: 1; }
.safcon__inner:after { content: " "; display: table; clear: both; }
.safcon__inner .safcon__block { float: left; }
.safcon__inner .safcon__block.withtxt { width: 750px; }
.safcon__inner h2 { padding-bottom: 26px; font-size: 21px; font-size: 2.1rem; }
.safcon__inner img { margin: 74px 0 0 38px; }
.safcon__inner .safcon__txt { margin-bottom: 15px; color: #2c2c2c; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; }

.footer { background: url(../img/icons/bg3.png) repeat; height: 112px; }
.footer.another { height: 82px; background: #1a1a1a; }
.footer .footer__inner { *zoom: 1; }
.footer .footer__inner:after { content: " "; display: table; clear: both; }
.footer .footer__block { float: left; }
.footer .footer__block.right { float: right; }
.footer .footer__download { display: block; padding: 33px 0 0 40px; color: #d9d9d9; text-decoration: none; font-size: 36px; font-size: 3.6rem; font-family: "roboto-thin", Arial, sans-serif; }
.footer .footer__download i { margin-right: 25px; }
.footer .footer__menu { padding-top: 37px; *zoom: 1; }
.footer .footer__menu:after { content: " "; display: table; clear: both; }
.footer .menu__item { float: left; }
.footer .menu__item:first-child a { padding: 0 58px 0 73px; }
.footer .menu__item.last a { padding: 0 47px 0 73px; border: 0; }
.footer .menu__item a { display: block; padding: 0 90px 0 54px; color: #d9d9d9; text-decoration: none; line-height: 47px; border-right: 1px solid #4f4f4f; font-size: 18px; font-size: 1.8rem; font-family: "roboto-condensed-bold", Arial, sans-serif; }
.footer .menu__item a:hover { text-decoration: underline; }
.footer .phone { float: left; padding: 30px 0 0 45px; line-height: 1.1; *zoom: 1; }
.footer .phone:after { content: " "; display: table; clear: both; }
.footer .phone .phone__in { float: left; padding-right: 27px; }
.footer .phone .phone__in:last-child { padding-right: 0; }
.footer .phone .phone__num { color: #d9d9d9; font-size: 17px; font-size: 1.7rem; font-family: "roboto-light", Arial, sans-serif; }
.footer .phone .phone__num i { padding-right: 15px; color: #d9d9d9; font-size: 18px; font-size: 1.8rem; }
.footer .phone .phone__desc { color: #d9d9d9; text-align: right; letter-spacing: -0.25px; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; }
.footer .copyright { float: right; padding: 30px 35px 0 0; }
.footer .copyright .copyright__txt { text-align: right; color: #d9d9d9; font-size: 13px; font-size: 1.3rem; font-family: "roboto-regular", Arial, sans-serif; }
.footer .copyright .copyright__txt a { color: #0866b1; text-decoration: none; }
.footer .copyright .copyright__txt a:hover { text-decoration: underline; }
