// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book",arial,sans-serif

html, body
	font-size: 62.5%
	height: 100%

body
	font-family: Arial,sans-serif
	font-weight: normal
	line-height: 1.4
	background: #FFF

// fonts
+font(FontAwesome, fontawesome-webfont)
+font(roboto-regular, roboto-regular)
+font(roboto-light, roboto-light)
+font(roboto-condensed, roboto-condensed)
+font(roboto-condensed-bold, roboto-condensed-bold)
+font(roboto-thin, roboto-thin)
+font(roboto-bold, roboto-bold)
+font(roboto-medium, roboto-medium)


=fa
	font-family: "FontAwesome", Arial, sans-serif
=rr
	font-family: "roboto-regular", Arial, sans-serif
	font-weight: normal
=rl
	font-family: "roboto-light", Arial, sans-serif
=rc
	font-family: "roboto-condensed", Arial, sans-serif
=rcb
	font-family: "roboto-condensed-bold", Arial, sans-serif
=rbt
	font-family: "roboto-thin", Arial, sans-serif
	font-weight: normal
=rb
	font-family: "roboto-bold", Arial, sans-serif
=rm
	font-family: "roboto-medium", Arial, sans-serif


%in
	width: 1200px
	margin: 0 auto

h1, .ttl
	color: #0765b1
	line-height: 1.2
	font-weight: normal
	+fs(36)
	+rc

h2, .subttl
	color: #414141
	line-height: 1.2
	+fs(36)
	+rbt

h3
	color: #212125
	+fs(20)
	+rcb

h4
	color: #2c2c2c
	+fs(15)
	+rr

h5
	color: #0967b1
	@extend h1

h6
	color: #3f3f3f
	+fs(21)
	@extend h2

ul
	li
		position: relative
		+fs(13)
		+rr
		span
			padding-left: 17px
			color: #2c2c2c
			padding-bottom: 10px
			&:before
				content: ""
				position: absolute
				top: 50%
				left: 0
				margin-top: -3.5px
				width: 7px
				height: 7px
				background-color: #0765b1
		i
			padding-right: 10px
			display: inline-block
			font-family: FontAwesome
			font-style: normal
			font-weight: normal
			line-height: 1
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
			&:before
				content: "\f14a"

ol
	width: 200px
	padding-left: 20px
	counter-reset: item
	li
		position: relative
		margin-bottom: 10px
		color: #FFF
		+fs(14)
		+rcb
		&:before
			content: counter(item) ''
			counter-increment: item
			position: absolute
			top: 50%
			left: -25px
			margin-top: -10px
			width: 20px
			height: 20px
			background-color: #0866b1
			text-align: center
		span
			padding-left: 10px
			display: inline-block
			vertical-align: middle
			line-height: 1
			color: #2c2c2c
			+rr

.btn__buy
	width: 80px
	height: 30px
	padding-bottom: 2px
	background: #0765b1
	color: #FFF
	+fs(18)
	+rcb
	&:active
		position: relative
		top: 1px