//inner pages
.cart
	position: relative
	display: block
	float: right
	width: 125px
	height: 100px
	background-color: #0765b1
	color: #fff
	text-align: center
	+vertical
	.cart__center, .cart__in
		display: inline-block
		vertical-align: middle
	.cart__ttl
		+fs(17)
		+rl
	.cart__txt
		+fs(13)
		+rr
	i
		padding-right: 10px
		vertical-align: middle
		+fs(18)

.inside__wrapper
	margin-top: 30px
	padding-left: 15px
	@extend %in
	+clr
	+box

.sidenav
	float: left
	width: 200px
	margin: 0 35px 50px 0
	.sidenav__a
		display: block
		padding: 5px 0 5px 15px
		text-decoration: none
		color: #0965b1
		border-bottom: 1px dotted #c4c4c4
		+fs(13)
		+rr
		&.last
			border: 0
		&:hover
			background-color: #0765b1
			color: #FFF

//typography
.content
	float: left
	width: 950px
	&.shop
		h1
			color: #212125
			line-height: 1.3
		.breadcrumbs
			border: 0
			margin-bottom: 0
			padding-bottom: 0
		.content__inside
			padding-right: 30px
	.breadcrumbs
		margin-bottom: 15px
		padding-bottom: 25px
		border-bottom: 1px dotted #c4c4c4
		+clr
		ul
			margin-top: 0
		li
			float: left
			&:first-child
				a
					color: #0866b1
					&:before
						content: ""
						padding: 1px
		a
			padding-right: 5px
			text-decoration: none
			color: #212125
			+fs(13)
			+rr
			&:before
				content: "/"
				padding-right: 5px
			&.is-active
				color: #0866b1
	section
		border-top: 1px dotted #c4c4c4
		padding-top: 34px
		margin-bottom: 40px
		+clr
		.content__inside
			padding: 0 30px
			+box
			div
				float: left
				margin-left: 50px
				&:first-child
					margin-left: 0
			h6
				margin-bottom: 20px
	blockquote
		padding: 30px
		margin-bottom: 70px
		background: url(../img/icons/bg.png) repeat
		border-top: 1px dotted #c4c4c4
		border-bottom: 1px dotted #c4c4c4
		p
			margin-bottom: 13px
			color: #2c2c2c
			+fs(13)
			+rr

.content__inside
	h2
		margin-bottom: 32px
	p
		margin-bottom: 13px
		color: #2C2C2C
		+fs(13)
		+rr
		span
			color: #0765b1
	h3
		margin: 27px 0 20px 0
	table
		margin-bottom: 65px
		border-collapse: collapse
		tr
			&:nth-child(odd)
				background: #FFF
			&:nth-child(even)
				background-color: #f5f5f5
		td
			padding: 15px 0 15px 25px
			border: 1px solid #dddddd
			color: #2c2c2c
			+fs(13)
			+rr
			&:first-child
				width: 464px
	article
		padding-bottom: 45px
		+clr
		p
			width: 530px
		img
			float: right
			margin-right: 15px

//shop
.shop__block
	display: inline-block
	vertical-align: middle

.show
	margin-left: 190px
	color: #818187
	line-height: 1.3
	.show__p
		+fs(18)
		+rcb
	.show__num
		padding: 0 5px
		color: #0765b1
		text-decoration: none
		+rl
		&.is-active
			color: #818187
	&.pages
		margin-left: 70px

.pagination
	margin: 10px 0 40px 0
	text-align: right
	.pages
		margin-right: 30px

.shop__inner
	text-align: justify
	margin-top: 25px
	&:after
		content: ""
		width: 100%
		display: inline-block
	.shop__item
		display: inline-block
		width: 217px
		height: 490px
		margin-bottom: 20px
		overflow: hidden
		vertical-align: top
		+box-shadow(0 0 7px rgba(0,0,0,.16))
	.shop__img
		display: inline-block
		width: 100%
		height: 215px
		+vertical
		img
			display: inline-block
			vertical-align: middle
		.shop1
			margin-left: 5px
	.shop__desc
		padding: 0 5px
	.shop__ttl
		text-align: center
		color: #0965b1
		margin-bottom: 15px
		+fs(18)
		+rcb
	.shop__buy
		width: 95%
		margin: 0 auto
		padding-bottom: 10px
		text-align: center
		border-bottom: 1px dotted #c4c4c4
	.shop__price
		color: #212125
		vertical-align: middle
		+fs(18)
		+rbt
	.shop__blue
		text-decoration: none
		color: #0866b1
		&:hover
			text-decoration: underline
	.btn__buy
		display: inline-block
		margin-left: 10px
		vertical-align: middle
		+clr
	.shop__or
		margin-top: 10px
		text-align: center
		color: #2c2c2c
		+fs(13)
		+rr
	.shop__txt
		margin: 10px 0 0 6px
		text-align: left
		color: #2c2c2c
		line-height: 1.2
		+fs(13)
		+rr

//item
.float__parent
	+clr
	.breadcrumbs
		float: left
	.backto
		float: right
		a
			text-decoration: none
			color: #0765b1
			+fs(13)
			+rr
			&:hover
				text-decoration: underline
			i
				padding-right: 3px

.item__wrap
	margin-top: 25px
	padding-top: 15px
	border-top: 1px dotted #c4c4c4
	+clr
	.item
		float: left
		width: 440px
		margin-right: 35px
		h1
			color: #0765b1
			line-height: 1.2
		h2
			margin-bottom: 18px
	.item__specs
		float: right
		width: 445px
		h3
			margin: 0
			padding-left: 15px
	.item__table
		margin-top: 15px
		td
			border: 0
			padding: 3px 0 5px 15px
			&:first-child
				width: 63%
		.onright
			text-align: right
			padding-right: 15px
	.item__buy
		+clr
	.item__left
		float: left
		p
			margin-bottom: 0
		.item__price
			color: #212125
			line-height: 1
			margin-bottom: 3px
			+fs(28)
			+rcb
		.item__tax
			color: #818187
			+fs(13)
			+rr
	.item__right
		float: right
		width: 265px
		padding-top: 10px
		.btn__buy
			display: inline-block
			margin-right: 10px
		.shop__or
			display: inline-block
			width: 110px
			vertical-align: middle
			line-height: 1
		.shop__blue
			text-decoration: none
			color: #0866b1
			&:hover
				text-decoration: underline

.item__desc
	margin-bottom: 75px
	border-top: 1px dotted #c4c4c4

//slider
.item__slider
	margin-top: 60px
	.slider
		width: 400px
	.gallery__top
		position: relative
		.slide
			width: 100%
			img
				width: 90%
				margin: 0 auto
				max-width: 325px
				display: block
		.item__prev
			position: absolute
			top: 50%
			left: -10px
			margin-top: -30.5px
			z-index: 1000
			+s(item_prev)
		.item__next
			position: absolute
			top: 50%
			right: -10px
			margin-top: -30.5px
			z-index: 1000
			+s(item_next)
	.gallery__bottom
		margin-top: 80px
		.gallery__pager
			width: 360px
			margin: 0 auto
		.slide
			img
				display: block
				width: 100px
				height: 68px
				margin: 0 auto
				cursor: pointer







